@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

body {
    font-family: 'Alumni Sans', sans-serif;
    margin: 0 40px;
}

p {
    font-weight: 200;
    font-size: 20px;
}


/* small {
    margin: auto;
} */

/* Page headings */

.page-heading {
    margin: 0 10px;
}

/* Container */

.container-fluid {
    margin: 10px 0;
}

/* Navigation */

.navbar-nav {
    padding: 0 10px;
}

/* .navbar-brand {
    font-family: 'Alumni Sans', sans-serif;
    font-size: 40px;
    /* padding-left: 10px; */


.navbar-brand {
    position: relative;
    width: 140px;
    left: 15px;
    background-size: contain;
}

.logo {
    height: 50px;
    width: 50px;
}

.nav-item {
    font-size: 20px;
    font-weight: 300;
}

/* .active {
    font-weight: bold;
} */

/* Icons */

/* .fa-brands {
    color: #8665d0;
    text-decoration: none;
} */

.fa-user {
    padding-left: 10px;
    color: green;
}

/* Jumbotron */

/* .jumbotron {
    background-image: url('https://images.unsplash.com/photo-1642355778435-8fa5e805ac0f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=773&q=80') no repeat;
} */

/* Authorisation pages styling */

#auth-card {
    margin-top: -100px;
    background: hsla(0, 0%, 100%, 0.8);
    backdrop-filter: blur(30px);
}

.bg-image {
    background-image: url('https://images.pexels.com/photos/3094041/pexels-photo-3094041.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    height: 300px;
    background-position: top;
    border-radius: 10px;
}

/* Buttons */

/* .btn {
    border-radius: 10px;
    font-size: 17.5px;
    font-weight: 300;

} */

.post-btn {
    margin: 10px 0;
}

/* Posts */

.post-link {
    text-decoration: none;
}

.card-title {
    color: rgb(33, 33, 37);
}

.card-body,
.card {
    margin: 10px;
}

.card-text {
    margin-top: 10px;
}

.image-flash {
    padding-top: 10px;
}

/* About */

.col-md-5 img {
    width: 70%;
}

.about {
    margin-top: 50px;
}

.featurette {
    padding: 20px 0;
}


@media (max-width: 992px) {

    /* .teacher-name {
        margin-top: 20px;
    } */

    .col-md-5 img {
        width: 100%;
    }

}

@media (max-width: 768px) {

    .teacher-name {
        margin-top: 20px;
    }


}