@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

body {
    font-family: 'Alumni Sans', sans-serif;
    margin: 0 40px;
}

p {
    font-weight: 200;
    font-size: 20px;
}

/* Container */

.container-fluid {
    margin: 10px 0;
}

/* Navigation */

.navbar-nav {
    padding: 0 10px;
}

/* .navbar-brand {
    font-family: 'Alumni Sans', sans-serif;
    font-size: 40px;
    /* padding-left: 10px; */


.navbar-brand {
    position: relative;
    width: 140px;
    left: 15px;
    background-size: contain;
}

.logo {
    height: 50px;
    width: 50px;
}

.nav-item {
    font-size: 20px;
    font-weight: 300;
}

/* .active {
    font-weight: bold;
} */

.fa-user {
    padding-left: 10px;
    color: green;
}

/* Buttons */

.btn {
    border-radius: 10px;
    font-size: 17.5px;
    font-weight: 300;

}

.post-btn {
    margin: 10px 0;
}

/* Posts */

.post-link {
    text-decoration: none;
}

.card-title {
    color: rgb(33, 33, 37);
}

.card-body,
.card {
    margin: 10px;
}

.card-text {
    margin-top: 10px;
}

.image-flash {
    padding-top: 10px;
}

/* About */

.col-md-5 img {
    width: 70%;
}

.about {
    margin-top: 50px;
}

.featurette {
    padding: 20px 0;
}


@media (max-width: 992px) {

    /* .teacher-name {
        margin-top: 20px;
    } */

    .col-md-5 img {
        width: 100%;
    }

}

@media (max-width: 768px) {

    .teacher-name {
        margin-top: 20px;
    }


}