{% extends 'base.html' %}


{% block content %}

<!-- <div class="container-fluid">
    <img src="https://images.pexels.com/photos/6692604/pexels-photo-6692604.jpeg?cs=srgb&dl=pexels-cottonbro-6692604.jpg&fm=jpg"
        class="mw-100 h-50" alt="...">

</div> -->



<!-- <h2 class="d-flex justify-content-center">Meet The Team</h2>
<hr> -->
<div class="container-fluid about">
    <h2 class="d-flex ">Meet The Team</h2>
    <hr>
    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://images.pexels.com/photos/4241332/pexels-photo-4241332.jpeg?cs=srgb&dl=pexels-gustavo-fring-4241332.jpg&fm=jpg"
                alt="Stella, a teacher at Social Ceramics, holds a selection of bowls she has created.">
        </div>
        <div class="col-md-7">
            <h3 class="teacher-name">Sofia Patterson</h3>
            <p>Sofia joined a ceramics class on a whim 4 years ago and hasn't looked back! After a few workshops, she
                decided to study for a Ceramics MA at Staffordshire university and is now a full time potter.
            </p>
        </div>
    </div>
    <hr>
    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://images.unsplash.com/photo-1632819506620-cc0f984af43a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80"
                alt="Michael, a teacher at Social Ceramics, paints a pot he has created with slip in the studio.">
        </div>
        <div class="col-md-7">
            <h3 class="teacher-name">Michael Haas</h3>
            <p>Michael discovered his love for pottery here at Social Ceramics after attending classes as a way to get
                in touch with his creativity.
            </p>
        </div>
    </div>
    <hr>
    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://images.unsplash.com/photo-1625742699654-dfa49a8f36a3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1633&q=800"
                alt="Stella, a teacher at Social Ceramics, smiles holding two pots she has hand built.">
        </div>
        <div class="col-md-7">
            <h3 class="teacher-name">Stella Figueroa</h3>
            <p>Stella
            </p>
        </div>
    </div>
    <hr>
    <div class="row featurette">
        <div class="col-md-5">
            <img src="https://images.pexels.com/photos/6694315/pexels-photo-6694315.jpeg?cs=srgb&dl=pexels-cottonbro-6694315.jpg&fm=jpg"
                alt="">
        </div>
        <div class="col-md-7">
            <h3 class="teacher-name">Tryo 2020</h3>
            <p>Medium bodied, dry and acidic, this orange wine packs a citrus punch that remains light and fresh on
                the
                palate.
            </p>
        </div>
    </div>


</div>


{%endblock%}