{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="container-fluid about mb-5">
    <p class="d-flex display-4">Meet The Team</p>
    <hr>
    <div class="row featurette">
        <div class="col-md-5">
            <img src="{% static 'images/teacher1.jpeg' %}"
                alt="Stella, a teacher at Social Ceramics, holds a selection of bowls she has created.">
        </div>
        <div class="col-md-7">
            <h3 class="teacher-name">Sofia Patterson</h3>
            <p class="text-muted"><em>Teacher</em></p>
            <p class="teacher-bio">Sofia joined a ceramics class on a whim 4 years ago and hasn't looked
                back! After
                attending a
                few workshops, she
                decided to study for a Ceramics MA at Staffordshire university and is now a full time potter. Mugs and
                plant pots are her favourite things to make, and she loves experimenting with texture in her designs.
            </p>
        </div>
    </div>
    <hr>
    <div class="row featurette">
        <div class="col-md-5">
            <img src="{% static 'images/teacher3-min.jpg' %}"
                alt="Michael, a teacher at Social Ceramics, paints a pot he has created with slip in the studio.">
        </div>
        <div class="col-md-7">
            <h3 class="teacher-name">Michael Haas</h3>
            <p class="text-muted"><em>Teacher & Studio Technician</em></p>
            <p>Michael discovered his love for pottery here at Social Ceramics after attending classes as a way to get
                in touch with his creativity. Coming from a background in hospitality, Michael now combines all his
                creative and technical skills with his amazing personality and keeps us up to date on all things
                technical about ceramics and the studio!
            </p>
        </div>
    </div>
    <hr>
    <div class="row featurette">
        <div class="col-md-5">
            <img src="{% static 'images/teacher2-min.jpg' %}"
                alt="Stella, a teacher at Social Ceramics, smiles holding two pots she has hand built.">
        </div>
        <div class="col-md-7">
            <h3 class="teacher-name">Stella Figueroa</h3>
            <p class="text-muted"><em>Teacher</em></p>
            <p>Stella was introduced to ceramics on a team-building event at work and decided to keep up the practice
                after reaping the therapeutic benefits of clay! She produces work at the studio part-time and wants to
                pass her passion onto others at Social Ceramics! Experimenting with shape and movement, Stella loves
                creating decorative, abstract pieces.
            </p>
        </div>
    </div>
    <hr>
    <div class="row featurette">
        <div class="col-md-5">
            <img src="{% static 'images/teacher4-min.jpg' %}"
                alt="Nora, a teacher at Social Ceramics, in the process of hand building a clay pot.">
        </div>
        <div class="col-md-7">
            <h3 class="teacher-name">Nora Ahmed</h3>
            <p class="text-muted"><em>Teacher</em></p>
            <p>Nora discovered her love of ceramics in college where she studied Art & Design. Finding the ceramics
                module to be
                too short, she pursued it as a hobby by taking classes with a friend in her spare time. Nora has
                explored the world, finding inspiration and collecting ceramics from her travels. Nora creates amazing,
                intricate pieces, and you'll find her experimenting with glazes and slip designs.
            </p>
        </div>
    </div>


</div>


{% endblock %}