{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <section class="text-center" style="margin: 0 20px;">

        <div class="p-5 bg-image"></div>

        <div id="auth-card" class="card mx-4 mx-md-5 shadow-5-strong">
            <h1 class="mt-5">Create A Profile</h1>
            {% if user.is_authenticated %}
            <h4>{{ user.get_username }}</h4>
            {% endif %}
            <div class="card-body py-5 px-md-5">

                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <div class="d-flex justify-content-center">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <div class="d-flex justify-content-center">
                                    <!-- <button class="p-2 btn btn-outline-dark btn-sm" type="submit">Share</button> -->
                                    <button type="submit" class="btn btn-primary btn-rounded">Create</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</div>
{% endblock %}