{% extends 'base.html' %}

{% block title %}Delete Image{% endblock %}

{% block content %}
<div class="container pb-2 pt-2 border rounded container-custom my-3">
    <div class="form-group mx-auto">
        <h2 class="text-center">
            You are going to <span class="text-danger">delete</span>: "<i>{{ post.caption }}</i>
            "</h2>
        <p class="text-center">Are you sure, you want to delete the photo ?</p>
        <div class="form-group">
            <form action="" method="post" class="d-flex flex-column align-items-center justify-content-center">
                {% csrf_token %}
                <div class="row">
                    <div class="col text-right">
                        <a href="{% url 'image_detail' post.id %}" class="my-2 btn btn-primary btn-sm">Cancel</a>
                    </div>
                    <div class="col text-left">
                        <button type="submit" class="my-2 btn btn-danger btn-sm">Delete</button>
                    </div>
                </div>
                <p>This action is irreversible</p>
            </form>
        </div>
    </div>
</div>

{% endblock %}