{% extends "base.html" %}

{% load i18n %}


{% block content %}


<!--User-->
<br><br>
<div class="container mx-auto">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-3 pb-4">
            <div class="card p-4">
                <h4 class="card-title font-weight-bold text-center">Hello, {{ user.get_username|title }}</h4>
                <hr>
                <div class="card-text">
                    <p class="text-muted mb-0">Profile Picture:</p>
                    <p>{{ user_profile.profile_picture.url }} </p>
                    <p class="text-muted mb-0">Username:</p>
                    <p>{{ user.get_username }}</p>
                    <p class="text-muted mb-0">First Name:</p>
                    <p>{{ user.profile.first_name }}</p>
                    <p class="text-muted mb-0">Last Name:</p>
                    <p>{{ user.profile.last_name }}</p>
                    <p class="text-muted mb-0">Bio:</p>
                    <p>{{ user.profile.bio }} </p>
                    <div class="text-right">
                        <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal"
                            data-bs-target="#profileModal">Edit Profile</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Edit user modal-->
<div class="modal" tabindex="-1" id="profileModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Profile</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ user_form.as_p }}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save changes</button>
                </form>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}