{% extends 'base.html' %}

{% block title %}{{photo.caption}} by {{photo.user}}{% endblock %}

{% block content %}

<div class="container-fluid mb-5">

    <div class="row m-2">
        <div class="col-sm-8 pr-2">
            <div class="d-md-block col-md-6 masthead-image">
                <p><i class="fa-regular fa-user me-3"></i>
                    <strong></strong></strong>{{photo.user}}</p>
                <img class="text-center img-thumbnail" src=" {{ photo.image.url }}">
                <p class="mt-3"><em>{{ photo.caption }}</em></p>
            </div>
        </div>
    </div>

</div>


{%endblock%}