{% extends 'base.html' %}


{% block content %}

<div class="container-fluid mb-5">
    <div class="row m-2">
        <div class="col-sm-8 pr-2">
            <div class="d-md-block col-md-6 masthead-image">
                <p><i class="fa-regular fa-user me-3"></i>
                    <strong></strong></strong>{{photo.user}}</p>
                <img class="text-center img-thumbnail" src=" {{ photo.image.url }}">
                <p class="mt-3"><em>{{ photo.caption }}</em></p>
            </div>
            {% if user.is_authenticated %}
            {% if user.id == photo.user.id %}
            <div class="row d-flex justify-content-between pb-3">
                <div class="d-flex">
                    <a class="btn btn-outline-dark" href="{% url 'update_image' photo.pk %}">Edit Image</a>
                </div>

                {% endif%}
                {% endif %}
            </div>
        </div>
    </div>
</div>

</div>


{%endblock%}