{% extends 'base.html' %}

{% block content %}
<!--Hero image-->

<!-- <img src="https://images.pexels.com/photos/3094036/pexels-photo-3094036.jpeg?cs=srgb&dl=pexels-cottonbro-3094036.jpg&fm=jpg"
    class="img-fluid" alt="Image of a ceramics studio."> -->

<!-- <div class="container-fluid">
    <div class="row">
        {% if user.is_authenticated %}
        Hi {{ user.username }}!
        <div class="p-2"><a class="btn btn-outline-dark btn-sm" href="{% url 'account_logout' %}">Log Out</a></div>
        {% else %}
        <p>You are not logged in!</p>
        <div class="p-2"><a class="btn btn-outline-dark btn-sm" href="{% url 'account_login' %}">Log In</a></div>
        {% endif %}
    </div>
</div> -->
<!-- <div class="container-fluid">
    <div class="d-flex flex-row-reverse">
        {% if user.is_authenticated %}
        <div class="p-2">Hi {{ user.username }}!
            <a class="p-2 btn btn-outline-dark btn-sm" href="{% url 'account_logout' %}">Log Out</a></div>
        {% else %}
        <div class="p-2">
            <p>You are not logged in!</p>
            <a class="btn btn-outline-dark btn-sm" href="{% url 'account_signup' %}">Register</a>
            <a class="btn btn-outline-dark btn-sm" href="{% url 'account_login' %}">Log In</a>
        </div>
        {% endif %}
    </div>
    <hr>
</div> -->
<!-- <div class="col-md-6">
    <div class="card mb-3">
        <form action="upload" method="POST" enctype="">
            {% csrf_token %}
            <h3>Share your</h3>
            <div class="card-body">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupFile01">Upload</label>
                    <input type="file" name='image-upload' class="form-control" id="inputGroupFile01">
                </div>
                <div class="input-group mb-3">
                    <input type="text" placeholder='type here' aria-label="Caption" class="form-control">
                </div>
                <button class="btn btn-outline-dark btn-sm" type="submit">Upload</button>
            </div>
        </form>
    </div>
</div> -->


<!--When user logs in, include personalised welcome-->
<div class="container-fluid">
    <!-- Blog posts -->
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-6">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in post.image.url %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/duuy3s065/image/upload/c_scale,h_330,w_500/v1665419331/sc_logo_g3dvey.png">
                                {% else %}
                                <img class="card-img-top" src=" {{ post.image.url }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author"><strong>Written by:</strong> {{ post.user }}</p>
                                </div>
                            </div>
                            <a href="{{ post.slug }}" class="post-link">
                                <h2 class="card-title">{{ post.caption }}</h2>
                                <a href="{{ post.slug }}" class="post-btn btn btn-outline-dark btn-sm">Read More
                                    &rarr;</a>
                                <p class="card-text">{{ post.description|slice:":50" }}</p>
                            </a>
                        </div>
                    </div>
                </div>

                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{%endblock%}