{% extends 'base.html' %}


{% block content %}

<div class="container-fluid mb-5 mt-4">
    <div class="row">
        <div class="d-md-block col-md-6 masthead-image mt-4">
            {% if "placeholder" in post.image.url %}
            <img class="img-thumbnail"
                src="https://res.cloudinary.com/duuy3s065/image/upload/c_scale,h_330,w_500/v1665419331/sc_logo_g3dvey.png"
                alt="social-ceramics-logo">
            {% else %}
            <img class="text-center img-thumbnail" src=" {{ post.image.url }}" alt="{{ post.caption }}">
            {% endif %}
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6">
            <h2 class="mt-4 display-5">{{ post.caption | safe }}</h2>
            <p>Posted by: {{ post.user }}</p>
            <p>{{ post.created_on }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p> {{ post.description | safe }}</p>
        </div>
    </div>
</div>



<div class="row">

    <div class="col-1">
        <strong>
            {% if user.is_authenticated %}
            <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                {% csrf_token %}
                {% if liked %}
                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                        class="fa-solid fa-heart"></i></button>
                {% else %}
                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                        class="fa-regular fa-heart"></i></button>
                {% endif %}
            </form>
            {% else %}
            <span class="text-secondary"><i class="far fa-heart"></i></span>
            {% endif %}
            <span class="text-secondary">{{ post.number_of_likes }} </span>
        </strong>
    </div>
    <div class="col-1">
        {% with comment.count as total_comments %}
        <strong class="text-secondary"><i class="far fa-comments"></i>
            {{ total_comments }}</strong>
        {% endwith %}
    </div>
</div>
</div>
</div>
</div>
<div class="row">
    <div class="col">
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-8 card mb-4 mt-3">
        <h3 class="display-6 m-4">Comments:</h3>
        <div class="card-body m-1">
            {% for comments in comment %}
            <div class="comments" style="padding: 10px;">
                <p class="font-weight-bold">
                    {{ comments.name }}
                    <span class=" text-muted font-weight-normal">
                        {{ comments.posted_on }}
                    </span> wrote:
                </p>
                {{ comments.comment_body | linebreaks }}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-4 card mb-4  mt-3 ">
        <div class="card-body">
            {% if commented %}
            <div class="alert alert-success" role="alert">
                Your comment is awaiting approval
            </div>

            {% else %}
            {% if user.is_authenticated %}

            <h3>Leave a comment:</h3>
            <p>Posting as: {{ user.username }}</p>
            <form method="post" style="margin-top: 1.3em;">
                {{ comment_form }}
                {% csrf_token %}
                <button type="submit" class="btn btn-success btn-signup btn-sm">Submit</button>
            </form>

            {% else %}
            <p>Please <a href="{% url 'account_login' %}"><em>sign in</em></a> to comment and like!</p>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
</div>


{%endblock%}