{% extends 'base.html' %}


{% block content %}

<div class="container-fluid mb-5">
    <div class="row">
        <div class="d-md-block col-md-6 masthead-image">
            <!-- The featured image URL goes in the src attribute -->
            {% if "placeholder" in post.image.url %}
            <img class="img-thumbnail"
                src="https://res.cloudinary.com/duuy3s065/image/upload/c_scale,h_330,w_500/v1665419331/sc_logo_g3dvey.png">
            {% else %}
            <img class="text-center img-thumbnail" src=" {{ post.image.url }}">
            {% endif %}
        </div>
    </div>
    <div class="row">
        <h2 class="mt-5">{{ post.caption }}</h2>
        <p>Posted by: {{ post.user }}</p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p> {{ post.description | safe }}</p>
        </div>
    </div>
</div>


{%endblock%}