{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Edit Profile" %}{% endblock %}

{% block content %}


<section class="text-center" style="margin: 0 20px;">

    <div class="p-5 bg-image">
    </div>

    <div id="auth-card" class="card mx-4 mx-md-5 shadow-5-strong">
        <div class="card-body py-5 px-md-5">

            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <h1 class="mb-5">{% trans "Edit Profile" %}</h1>

                    <form method="post" action="{% url 'profile' %}">
                        {% csrf_token %}
                        {{ form.as_p }}

                        <div class="row">
                            <div class="col-md-6 mb-4">

                            </div>
                        </div>


                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary mb-4">
                    Update Profile
                </button>
                </form>
            </div>
        </div>
    </div>
    </div>
</section>

{% endblock %}