{% extends "base.html" %}

{% load i18n %}

<!-- {% block head_title %}{% trans "Edit Profile" %}{% endblock %} -->

{% block content %}

{% if user.is_authenticated %}

<div class="container mx-auto">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-3 pb-4">
            <div class="card p-4">
                <h4 class="card-title font-weight-bold text-center">Hello, {{ user.username|title }}</h4>
                <hr>
                <div class=" card-text">
                    <p><img class="rounded-circle" src="{{ user.user_profile.profile_picture.url }}">Profile Picture:
                    </p>
                    <p>{{ user_profile.profile_picture }} </p>
                    <p class="text-muted mb-0">Username:</p>
                    <p>{{ user }}</p>
                    <!-- <p class="text-muted mb-0">First Name:</p>
                    <p>{{ user_profile.first_name }} {{ user_profile.last_name }}</p>
                    <p class="text-muted mb-0">Last Name:</p>
                    <p>{{ user_profile.last_name }}</p> -->
                    <p class="text-muted mb-0">Bio:</p>
                    <p>{{ user_profile.bio }} </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}