{% extends "base.html" %}

{% block content %}

<div class="container-fluid mt-5">
    <p class="display-4">Student Creations</p><span>
        <p>Check out the latest posts from your fellow
            students!</p>
    </span>
    <hr>
    <p class="display-6">Here at Social Ceramics we encourage you to share your work with your fellow students! You
        may
        find
        some inspiration along the way <em>{{ user.username }} </em>!</p>{{ user.profile.id }}

    <div class="mt-5">

        <div class="row">
            {% for photo in photos %}
            <div class="col-md-4">
                <div>
                    <p><i class="fa-regular fa-user me-3"></i>{{photo.user}}</p>
                    <a href="{% url 'profile_view' user.profile.id %}">profile</a>
                    <p><small><em>{{photo.caption|slice:50}}...</em></small></p><span> <a
                            href="{% url 'image_detail' photo.id %}" class="post-btn btn btn-outline-dark btn-sm">View
                            Post
                            &rarr;</a></span>
                    <div class='mb-5'>
                        <img class="w-100 shadow-1-strong rounded mb-4 img-thumbnail" src="{{photo.image.url}}"
                            alt="{{photo.caption}}"></a>
                    </div>
                </div>
            </div>

            {% if forloop.counter|divisibleby:3 %}
            {% endif %}
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}