{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <p class="display-4">Student Creations</p>
    <hr>
    <p class="display-6">Here at Studio Ceramics we encourage you to share your work with your fellow students! You may
        find
        some inspiration along the way <em>{{ user.username }} </em>!</p>

    <!-- <div class="row">
        <div class="grid">
            <div class="grid-col grid-col--1"></div>
            <div class="grid-col grid-col--2"></div>
            <div class="grid-col grid-col--3"></div>
            <div class="grid-col grid-col--4"></div>
            {% for photo in photos %}
            <div class="grid-item image-container-custom">
                <img src="{{photo.image.url}}" alt="{{photo.caption}}" /></a></div>
            {% endfor %}
        </div>
    </div> -->
    <div class="lightbox">
        <div class="row">
            <div class="row">

                <div class="col-md-6">
                    {% for photo in photos %}
                    <div>
                        <img class="w-100 shadow-1-strong rounded img-thumbnail" src="{{photo.image.url}}"
                            alt="{{photo.caption}}" /></a></div>
                    {% endfor %}
                </div>

            </div>

            <div class="col-lg-6">

                <img src="" alt="" class="w-100 shadow-1-strong rounded" />
            </div>
            <div class="col-lg-6">
                <img src="" alt="" class="w-100 shadow-1-strong rounded" />
            </div>
        </div>
    </div>


</div>
{% endblock %}